{% extends "base.html" %} {% block title %} Footy Stats {% endblock%}

{% block main %}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Late Haaland winner takes Man City top</h1>
      <p class="lead text-muted">Substitute's stoppage-time penalty gives 10-man champions narrow win over Fulham on a day full of goals</p>
      <p>
        <a href="https://www.premierleague.com/news/2890890" target="_blank" class="btn btn-primary my-2">SEE FULL STORY</a>
      </p>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col1.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">The last time Arsenal played Chelsea in the first half of a Premier League season, it seemed like it was the beginning of the end for Mikel Arteta.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a class="text-dark text-decoration-none" href="https://www.espn.co.uk/sports/insider/soccer/insider/story/_/id/34941125/arsenal-premier-league-leaders-how-far-go" target="_blank"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col2.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">“Championes! Championes!” rang out from the delirious Manchester City, as they serenaded game-winning hero Erling Haaland.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col3.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Tottenham have scored just NINE first half goals and faced the most shots of anyone in the Premier League before the interval.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col4.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">The Premier League Trophy was displayed at several iconic locations and cultural landmarks around Mumbai.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col5.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">United are though progressing with talks for Rashford and Dalot, who are among United's best performers so far this term. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/images/col6.jpg" alt="" width="100%" height="225" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Chelsea's 2-1 Champions League group stage win against Dinamo Zagreb at Stamford Bridge. Click below for highlights.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block tables%}
<div class="container py-5">
  <div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-3">Fixtures</h3>
        
        <div class="table-responsive mb-3">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Date & Time</th>
                  <th scope="col">Clubs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>06/11 - 12:00</td>
                  <td>Chelsea V Arsenal</td>
                </tr>
                <tr>
                  <td>06/11 - 14:00</td>
                  <td>Aston Villa V Man Utd</td>
                </tr>
                <tr>
                  <td>06/11 - 14:00</td>
                  <td>Southampton V Newcastle</td>
                </tr>
                <tr>
                  <td>06/11 - 14:00</td>
                  <td>West Ham V Crystal Palace</td>
                </tr>
                <tr>
                  <td>06/11 - 16:30</td>
                  <td>Spurs V Liverpool</td>
                </tr>
                <tr>
                  <td>12/11 - 12:30</td>
                  <td>Man City V Brentford</td>
                </tr>
              </tbody>
            </table>
          </div>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View Full Fixtures</button>
        </div>
        </div>
        
    </div>
    </div>
        <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-3">League Table</h3>
            <div class="table-responsive mb-3">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Position</th>
                      <th scope="col">Club</th>
                      <th scope="col">Played</th>
                      <th scope="col">Points</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Man City</td>
                      <td>13</td>
                      <td>32</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Arsenal</td>
                      <td>12</td>
                      <td>31</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Hotspurs</td>
                      <td>13</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Newcastle united</td>
                      <td>13</td>
                      <td>24</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Manchester united</td>
                      <td>12</td>
                      <td>23</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Brighton</td>
                      <td>13</td>
                      <td>21</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View Full Table</button>
            </div>
            </div>
            
        </div>
        </div>
    </div>
</div>
{% endblock %} 


{% block table_2%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Get Your Tickets Today or Watch the matches Live !</h1>
        <p class="lead text-muted">Click on the links below</p>
        <p>
          <a href="#" class="btn btn-primary my-2">WATCH LIVE</a>
          <a href="#" class="btn btn-secondary my-2">BUY TICKETS</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %} 
